@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unkempt:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    cursor: default;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
    cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

:root {
    --text: #050315;
    --background: #fbfbfe;
    --background-secondary: #f7f7fa;
    --primary: #161E37;
    --secondary: #dedcff;
    --accent: #21283F;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.search {
    max-height: 200px;
    width: 100%;
    padding: 12px 32px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding: 8px;
    }

    input {
        padding: 8px 12px;
        color: white;
        background-color: var(--accent);
        border: none;
    }

    button {
        padding: 4px;
        border: none;
        background-color: var(--primary);
        cursor: pointer;
    }

    i {
        color: white;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: url('./assets/starry-night.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    flex: 1;
}

.main-temp {
    color: white;
    text-align: center;
    padding: 24px;
    font-size: 18px;

    .location {
        margin: 12px 0px;
    }

    .temp {
        font-size: 64px;
        font-weight: 300;
    }

    .forecast {
        margin-bottom: 12px;
    }

    .additional-items {
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 12px;
    }
}

.five-day {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.card {
    width: 200px;
    height: 220px;
    padding: 16px;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-radius: 12px;
    gap: 8px;
}

.card:hover {
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
    -moz-box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
    box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
    transition: 0.5s ease;
}

.card img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.card.selected {
    border: 2px solid var(--accent);
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
    -moz-box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
    box-shadow: 0px 0px 25px 0px rgba(102, 138, 255, 0.9);
}

@media screen and (max-width: 550px) {
    .search {
        flex-direction: column;
        gap: 12px;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
